body{
	background-color: whitesmoke;
	margin: 0;
	padding: 0;
}

ul li a{
	text-decoration: none;
	color: #bdc3c7;
	padding: 20px;
	border-right: 2px solid #bdc3c7;
	background-color: #c0392b;
	font-size: 1.3em;
	font-family: 'Roboto', sans-serif;
}

#el_menu{
	background-color: #34495e;
	color: #dfdfdf;
	padding: 10px;
	width: 100%;
}

.el-menu{
	padding: 20px;
}
/*
nav ul{
	height: 0;
	visibility: hidden;
	opacity: 0;
}

nav:hover ul{
	height: auto;
	visibility: visible;
	opacity: 1;
}
*/
ul li a:hover{
	color: #ecf0f1;
	background-color:#e74c3c;
}

ul li{
	list-style: none;
}

.flex-container{
	display: flex;
	justify-content: space-around;
}

.menu{
	width: 100%;
}

.show{
	visibility: visible;
}

