@media (min-width: 1px) and (max-width: 677px){
	.menu{
		width: 100%;
		flex-direction:column;
		background: #34495e;

	}
	.show{
		visibility: hidden;
	}

	li{
		padding: 8px;
		align-content: flex-start;
		border-bottom: 1px solid white;

	}
	ul li a{	
		font-family: 'Ubuntu', sans-serif;
		color: #dfdfdf;	
		padding: 5px;
		border: 0;
		align-content: flex-start;
	}

	ul li:hover{
		background: #95a5a6;
		border-bottom: 1px solid black;
	}

	ul li a:hover{
		color: black;
	}

	#el_menu:hover{
		background: #95a5a6;
		color: black;
	}

	ul{
		flex-direction: column;
	}
	.el-menu{
		visibility: visible;
	}

}

@media (min-width: 677px){
	.menu{
		width: 100%;
	}
	.el-menu{
		display: none;
	}
	.show{
		visibility: visible;
	}

	ul li a{
		background-color: #c0392b;
	}
	ul li a:hover{
	color: #ecf0f1;
	background-color:#e74c3c;
	}
}